---
import Layout from '../layouts/Layout.astro';
import Dev from '../components/dev.astro';
import AboutMe from '../components/AboutMe.astro'
import LogoCarousel from '../components/TechCarousel.astro'
import Cursor from '../components/Cursor.astro'
import Header from '../components/Header.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';



---

<Layout title="Ãlvaro Castilla | Dev">
	<main>
		<AboutMe></AboutMe>
		<LogoCarousel/>
		<Projects/>
		<Contact/>
	</main>
</Layout>




