---
// Header.astro
import ContactButton from '../components/ContactButton.astro';
---

<header class="flex justify-between items-center content-center py-6 w-full xl:w-[1146px]">
    <img src="/DEV LOGO WHITE.png" alt="acl logo" width="75px">
    <nav class="flex flex-row items-center gap-x-11 opacity-80" id="buttonnav">
        <a href="#about" id="button">Sobre mí</a>
        <a href="#projects" id="button">Proyectos</a>
        <ContactButton/>
    </nav>
</header>


<style>

    #button:hover {
        text-decoration-line: underline;
       
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
</style>