---
// Header.astro
import ContactButton from '../components/ContactButton.astro';
---

<header class="flex justify-between items-center content-center py-6 w-[1146px]">
    <img src="/LOGO.png" alt="acl logo" width="100px">
    <nav class="flex flex-row items-center gap-x-11 opacity-80">
        <a href="#about">Sobre mí</a>
        <a href="#projects">Proyectos</a>
        <ContactButton/>
    </nav>
</header>